  <footer class="page-footer">
    <div class="columns">
     <div class="left-col">
       &copy; 2016 Колледж олимпийского резерва №1.<br />
       Все права защищены
     </div>
     <div class="center-col">
       <span>Тел:</span> 8(812) 534-49-02<br />
       <span>Адрес:</span> 195520, Санкт-Петербург, ул.Гжатская, дом 4
     </div>
     <div class="right-col">
       Создание сайта: <a href="http://devcompany.ru/" target="_blank">DEV Company</a>
     </div>
    </div> 
  </footer><!-- .footer -->