<div class="special-elements">
  <div id="textsizer-classnames">
   <p>Размер шрифта:</p>
   <ul class="textresizer">
      <li><a href="#" class="medium-text" title="Малый текст"><span>A</span></a></li>
      <li><a href="#" class="large-text" title="Средний текст"><span>A</span></a></li>
      <li><a href="#" class="larger-text" title="Большой текст"><span>A</span></a></li>
   </ul>
  </div>

  <div id="lineheight-classnames">
   <p>Межстрочный интервал:</p>
   <ul class="textresizer lineresizer">
      <li class="line-1"><a href="#" class="line-medium" title="Малый интервал"><span></span></a></li>
      <li class="line-2"><a href="#" class="line-large" title="Средний интервал"><span></span></a></li>
      <li class="line-3"><a href="#" class="line-larger" title="Большой интервал"><span></span></a></li>
   </ul>
  </div>
  
  <div id="color-classnames">
   <p>Цвет:</p>
   <ul class="textresizer color">
      <li class="color-1"><a href="#" class="color-white" title="Черный на белом"><span></span></a></li>
      <li class="color-2" ><a href="#" class="color-black" title="Белый на черном"><span></span></a></li>
      <li class="color-3" ><a href="#" class="color-blue" title="Белый на синем"><span></span></a></li>
   </ul>
  </div> 
  
  <div id="media-classnames">
   <p>медиа:</p>
   <ul class="-textresizer media">
      <li class="media-1"><a href="#" class="media-on" title="Включить медиа"><span>On</span></a></li>
      <li class="media-2"><a href="#" class="media-off" title="Отключить медиа"><span>Off</span></a></li>
   </ul>
  </div>    
    
   <div class="normal-link special-link">
    <f:cObject typoscriptObjectPath="lib.normalLink" /> 
    <a href="/">Обычная версия сайта</a> 
   </div>  
</div>
