<div class="special-elements">
  <div id="textsizer-classnames">
   <p>Размер шрифта:</p>
   <ul class="textresizer">
      <li><a href="#" class="medium-text"><span>A</span></a></li>
      <li><a href="#" class="large-text"><span>A</span></a></li>
      <li><a href="#" class="larger-text"><span>A</span></a></li>
   </ul>
  </div>

  <div id="lineheight-classnames">
   <p>Межстрочный интервал:</p>
   <ul class="textresizer lineresizer">
      <li class="line-1"><a href="#" class="line-medium"><span></span></a></li>
      <li class="line-2"><a href="#" class="line-large"><span></span></a></li>
      <li class="line-3"><a href="#" class="line-larger"><span></span></a></li>
   </ul>
  </div>
  
  <div id="color-classnames">
   <p>Цвет:</p>
   <ul class="textresizer color">
      <li class="color-1"><a href="#" class="color-white"><span></span></a></li>
      <li class="color-2" ><a href="#" class="color-black"><span></span></a></li>
      <li class="color-3" ><a href="#" class="color-blue"><span></span></a></li>
   </ul>
  </div> 
 
  <div id="media-classnames">
   <p>Изображения:</p>
   <ul class="textresizer mediachange media">
      <li class="media-1"><a href="#" class="media-on"><span>On</span></a></li>
      <li class="media-2"><a href="#" class="media-off"><span>Off</span></a></li>
   </ul>
  </div>    
    
   <div class="normal-link special-link">
    <f:cObject typoscriptObjectPath="lib.normalLink" /> 
    <a href="/">Обычная версия сайта</a> 
   </div>  
</div>
