/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 15px/18px Calibri, Verdana, Arial, sans-serif;
	width: 100%;
	background: #f3f3f3;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
  background: #fff;  
  box-shadow: 
  -3px 0 10px #a3a3a3,
  3px 0 10px #a3a3a3; 	
}


/* Header
-----------------------------------------------------------------------------*/
.page-header {
	height: 155px;
	background: #f8f8f8;
}
.logo {
  float: left;
  padding: 10px 0 0 20px;
}
.gerb {
  float: right;
  padding: 10px 20px 0 0;
}
.top-block {
  text-align: center; 
}
.top-block > div,
.search {
  display: inline;
  margin:  0px 10px;
  position: relative;
  top: 15px;
}
.login-links a {
  display: inline-block;
  padding: 0 5px;
}
.login-links a.first {
  border-right: 1px solid #10357c;
  padding: 0 7px;
}
.search {
  top: 0px;
}
.search input[type="text"] {
  width: 235px;
  height: 30px;
  color: #d2b16a;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-indent: 10px;
  
    outline:none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;    
}
.search .submit {
    display: block;
    position: absolute;
    right: 10px;
    top: -3px;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border: none;
    background: url('../Images/search.png') no-repeat 0 0 transparent;
    cursor: pointer;
    text-indent: -3000px;
    color: #888;  
}
.search .submit:hover {
    background: url('../Images/search-hover.png') no-repeat 0 0 transparent;  
}

.slogan {
  padding-top: 40px;
  font-size: 19px;
  font-weight: normal;
  color: #10357c;
  text-align: center;
}
.phone {
  color: #10357c;
  font-weight: normal;
  font-size: 22px;  
  position: relative;
  top: 17px !important;
}

/* Login and registration
-----------------------------------------------------------------------------*/
.form {
  text-align: left !important;
  padding: 0 20px 0 20px;
  display: none; 
  position: absolute; 
  left: 0px; 
  top: 30px; 
  width: 240px; 
  height: auto;
  z-index: 10000; 
  border: 2px solid #e4e4e4;
  background: #fff;
  opacity: 0.95; 
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
}
.form-active {
  display: block;
}
.close {
  width: 50px;
  height: 20px;
  border: 1px solid red;
}
.tx-felogin-pi1 input[type="text"],
.tx-felogin-pi1 input[type="password"] {
  width: 235px;
  height: 30px;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  text-indent: 5px; 
}
.tx-felogin-pi1 input[type="submit"] {
  background: none repeat scroll 0% 0% #103780;
  padding: 5px 10px;
  border: medium none;
  color: #FFF;
  font-family: "Ubuntu-Medium";
  font-size: 17px;
  cursor: pointer;  
  margin: 10px 0 20px 125px;
}
.tx-felogin-pi1 label {
  margin: 10px 0 0 0;
}
.forgot-password {
  padding-bottom: 20px;
}
.tx-felogin-pi1 input.forgot-login {
  margin-top: 10px;
}

.tx-felogin-pi1 input.forgot {
    margin: 10px 0 20px 75px;
}
#login_btn a {
  text-decoration: underline;
  border-right: 1px solid #10357c;
  margin-right: -2px;
}
.top-block .logged-user {
  margin: -36px 0 0 0;
  text-align: left;
  position: relative;
  top: 55px;
  left: 190px;
  width: 600px;
}

.close_btn {
  width: 10px;
  height: 12px;
  float: right;
  background: url(../Images/close.png) no-repeat 0 0;
  position: relative;
  top: 15px;
  cursor: pointer;
}


.tx-srfeuserregister-pi1 input[type="text"],
.tx-srfeuserregister-pi1 input[type="password"] {
  width: 235px;
  height: 30px;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;   
  text-indent: 5px;
}
.tx-srfeuserregister-pi1 textarea {
  width: 240px;
  height: 100px;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;   
}

.tx-srfeuserregister-pi1 input[type="submit"] {
  background: none repeat scroll 0% 0% #103780;
  padding: 5px 10px;
  border: medium none;
  color: #FFF;
  font-size: 17px;
  cursor: pointer;  
  margin-right: 0px;
  margin-top: 10px;
  min-width: 200px;
}


/* TopMenu
-----------------------------------------------------------------------------*/

nav.topmenu {   
  padding-top: 0px;
  height: 50px;
  font-size: 15px;
 /* font-family: 'Ubuntu-Medium';*/
}
nav.topmenu a {
  text-decoration: none;
}
nav.topmenu ul {  
  background: url(../Images/top-menu-gradient.png) repeat-x 0 0;
  width: 1000px;  
  text-align: center;
  padding: 11px 0;
}
nav.topmenu ul li {
  display: inline-block;
  margin: 0 -2px;
  padding: 0;
}
nav.topmenu ul li a {
 /* background: url(../Images/top-menu-gradient.png) repeat-x 0 0;*/
  padding: 12px 22px 11px 22px;
  color: #fff;
}
nav.topmenu ul li.last a {
  padding: 12px 20px 11px 20px;
}

nav.topmenu ul li a:hover,
nav.topmenu ul li.active a  {
  background: url(../Images/top-menu-gradient-hover.png) repeat-x 0 0;
}

/* Rewtite */
nav.topmenu ul {
	text-align: left !important;
}
nav.topmenu ul li:FIRST-CHILD {
	margin-left: 27px;
}
.special-link-home {
	position: absolute;
	margin-top: -45px;
	right: 33px;
	font-size: 14px;
	height: 40px;
	width: 280px;
  background: url('../Images/eye.png') no-repeat right 0 transparent;  
}
.special-link-home a {
	color: #fff;
	position: relative;
	top: 4px;
	font-size: 20px;
	font-family: Calibri;
	font-size: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	padding-top: 3px;
}
.content {
  font-family: Verdana;
  font-size: 13px;
  line-height: 16px;
	margin: 0 27px 30px 330px;
	min-height: 400px;
	padding-bottom: 40px;
}

.content-alt {
  font-family: Verdana;
  font-size: 13px;
  line-height: 16px;
  margin: 0 330px 30px 25px;
  padding-bottom: 40px;  
}

.blue-line {
  font-family: 'Ubuntu-Medium';
  color: #fff;
  height: 42px;
  background: url(../Images/blue-line-gradient.png) repeat-x 0 0;
  margin-bottom: 15px;
}
.blue-line h4 {
  position: relative;
  top: 10px;
  left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.blue-line a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.blue-line a:hover {
  text-decoration: underline;  
}
.blue-line span {
  position: relative;
  top: -4px;
  right: 15px;
  float: right;
  background: url(../Images/blue-line-arrows.png) no-repeat right 4px;
  padding: 0 25px;
}

/* Last news
-----------------------------------------------------------------------------*/
.last-news {
  padding-bottom: 20px;
  min-height: 210px;
}
.last-news-item {
  margin-top: 5px;
  width: 100%;
/*  float: left;*/
  margin-right: 14px;
  height: 150px;
}
.last-news-item-last {
  margin-right: 0;
}
.last-news-img {
  position: relative;
  z-index: 1;
}
.last-news-img:hover {
  position: relative;
  z-index: 11;
}
.last-news-img .news-img-wrap {
  float: left;
  width: 205px;
  height: 137px;
  margin-right: 10px; 
}
.last-news-date {
  z-index: 10;
  text-align: center;
  color: #fff;
  position: absolute;
  width: 205px;
  height: 28px;
  background: url(../Images/last-news-date.png) no-repeat center 0px;
}
.last-news-date span {
  position: relative;
  top: 3px;
}
/*
.last-news-img img:hover {
  opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
*/
.last-news-title {
  text-align: left;
  font-size: 14px;
  padding-bottom: 5px;
}
.last-news-teaser-text {
  text-align: justify;
}

/* List news
-----------------------------------------------------------------------------*/
.list-news-date {
  color: #10357c;
  font-weight: bold;
}

/* Single news
-----------------------------------------------------------------------------*/
.news-single {
  padding-bottom: 30px;
}
.news-backlink-wrap {
  padding: 10px 0 0 0;
  font-weight: bold;
}
.news-img-wrap {
  padding-bottom: 10px;
}
.single-news-date {
  color: #2eadf2;
  font-weight: bold;
  float: right;
  font-size: 13px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	/*width: 330px;*/
	width: 300px;
	margin-left: -100%;
	position: relative;
	background: #fff;
	padding: 5px 0 0 27px;
}

.left-side-menu {
  font-family: Calibri;
  position: relative;
/*  left: 26px;*/
  width: 275px;
  background: #ededed;
 /* min-height: 300px;*/
  border: 2px solid #e3e3e3; 
  margin-bottom: 15px;
}

.right-menu {
  position: relative;
  background: #fff;
}
.sport-departament {
  /*margin-top: -25px;  */
  text-align: center;
  border-top: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  padding: 15px 5px;
  width: 265px;
  background: #eeeeee;
  color: #10357c;
  font-size: 18px;
}
.banners {
 padding: 0 0 30px 0;
}
.banners a {
  display: block;
}

figure.csc-textpic-image a {
  text-decoration: underline !important;
}

.vk-group {
  margin-top: -20px;
  margin-bottom: 40px;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  float: right;
  width: 300px;
  margin-left: -348px;
  position: relative;
  padding: 5px 7px 0 20px;
}


/* Sport Menu
-----------------------------------------------------------------------------*/
nav.sports-menu {
  padding-top: 10px;
  text-align: center;
}
nav.sports-menu ul {
  padding: 0;
  margin: 0;
}
nav.sports-menu ul li {
  float: left;
  margin: 0 37px 0 0 !important;
  width: 133px;
  height: 200px;
  padding: 0;
  list-style: none;
}
nav.sports-menu ul li.last {
  margin: 0 !important;
}
nav.sports-menu ul li div {
  width: 120px;
  padding: 0 7px;
}
nav.sports-menu ul li img:hover {
  margin-top: -3px !important;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer-block {
  background: #e3e3e3;
  height: 260px;
}
.footer-block .csc-textpic-imagewrap {
  padding-top: 40px;
}
.footer-block .csc-textpic-imagecolumn {
  width: 220px;
  margin: 0 0px 0 0;
}
.footer-block .csc-textpic-imagecolumn figure {
  width: 220px; 
}
.footer-block .csc-textpic-imagecolumn figure img {
  position: relative;
  left: 53px;
}
.footer-block figcaption.csc-textpic-caption {
  font-family: 'Ubuntu';
  font-size: 15px;
}
.footer-block figcaption a {
  text-decoration: underline;
}

.page-footer {
  font-family: 'Ubuntu';
  font-size: 13px;
  color: #fff;
	height: 67px;
	background: url(../Images/footer-bg.png) repeat-x 0 0;
}
.page-footer a {
  color: #fff;
}
.page-footer .columns {
  padding: 13px 23px 0 23px;  
}
.page-footer .left-col {
  width: 375px;
  float: left;
}
.page-footer .center-col {
  width: 375px;
  float: left;  
}
.page-footer .right-col {
  float: right; 
}


/* Dinamyc Left Menu
-----------------------------------------------------------------------------*/
nav.left-side-menu {
  padding: 10px 0;
}

ul.dmenu {
  display: none;
}
.side-menu,
.toggle-menu {
  background: url(../Images/toggle-menu.png) no-repeat 20px 15px;
  padding: 10px 10px 10px 40px;
  cursor: pointer;
}
.side-menu a {
  text-decoration: none;
  color: #1e1e1e;
}
.side-menu-active a,
.side-menu a:hover {
  color: #10357c;
}

.side-menu-active,
.side-menu:hover,
.toggle-menu:hover,
.toggle-collapse {
  background: url(../Images/toggle-collapse.png) no-repeat 20px 15px;
  color: #10357c;
}
.left-side-menu ul.dmenu {
  padding: 0 10px 10px 30px;
}
.left-side-menu ul.dmenu li {
  padding: 5px 0;
  font-size: 14px;
}
.left-side-menu ul.dmenu li a {
  text-decoration: none;
  color: #1e1e1e;
}
ul.dmenu li a:hover,
ul.dmenu li.active a {
  text-decoration: underline;
  color: #486499;
  background: url(../Images/level-2-active.png) no-repeat 0px 5px;
}

ul.dmenu li a {
  display: inline-block;
  background: url(../Images/level-2.png) no-repeat 0px 5px;
  padding-left: 20px;
}


/* Rootline
-----------------------------------------------------------------------------*/
.breadcrumb {
  padding-bottom: 10px;
  padding-left: 0px;
  /*max-width: 630px;*/
}
.breadcrumb,
.breadcrumb a {
  color: #10357c;
  font-style: italic;
}
.breadcrumb > ul > li {
  background: none !important;
  padding: 0 !important;
}
.breadcrumb > ul > li {
  display: inline;
  line-height: 19px;
}
.breadcrumb > ul > li a {
  padding: 0 10px 0 0;
  background: url(../Images/rootline-separator.png) no-repeat right 7px;
}
/* Chgallery
-----------------------------------------------------------------------------*/

.tx-chgallery-pi1 {
  
}
.gallery-img {
  height: 151px;
  width: 204px;
  background: url(../Images/bg-gallery.png) no-repeat 0 0;  
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;  
}
.gallery-img img {
  border: 5px solid #cecece;
}
.gallery-img img:hover {
  border: 5px solid #2eacf1;
}
span.chgcurrent,
span.chgtotal {
  padding: 2px 5px 2px 5px;
  color: #fff;
background: #74c5f0; /* Old browsers */
background: -moz-linear-gradient(top,  #74c5f0 0%, #6cbae9 13%, #61abe0 26%, #285eb0 78%, #1747a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74c5f0), color-stop(13%,#6cbae9), color-stop(26%,#61abe0), color-stop(78%,#285eb0), color-stop(100%,#1747a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74c5f0', endColorstr='#1747a2',GradientType=0 ); /* IE6-9 */ 
}

/* Paginator
-----------------------------------------------------------------------------*/
.pagebrowser {
    float: left;
    clear: both;
}
.page-navigation > p {
  display: none;
}
.page-navigation {
  font-family: 'Ubuntu-Bold';
  padding: 20px 0px 10px;
  font-size: 14px;
  width: 100%;
  margin: 0px auto 30px;
}
ul.f3-widget-paginator {
  text-decoration: none;
  float: none !important;
  text-align: center;
}
ul.f3-widget-paginator a {
  text-decoration: none;  
}
.content ul.f3-widget-paginator li {
    text-transform: lowercase;
    display: inline !important;
    float: none;
    background: none repeat scroll 0% 0% transparent;
    padding: 0px 2px 0 5px;
    text-align: center;
}
.content ul.f3-widget-paginator li.current {
  padding: 2px 2px 2px 5px;
  color: #fff;
background: #74c5f0; /* Old browsers */
background: -moz-linear-gradient(top,  #74c5f0 0%, #6cbae9 13%, #61abe0 26%, #285eb0 78%, #1747a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74c5f0), color-stop(13%,#6cbae9), color-stop(26%,#61abe0), color-stop(78%,#285eb0), color-stop(100%,#1747a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #74c5f0 0%,#6cbae9 13%,#61abe0 26%,#285eb0 78%,#1747a2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74c5f0', endColorstr='#1747a2',GradientType=0 ); /* IE6-9 */  
}
.content ul li {
    list-style: outside none none;
}

/* Columns
-----------------------------------------------------------------------------*/
.two-columns-66-33 {
  width: 100%;
  margin: 20px 0 40px 0;
}
.two-columns-66-33 .left-column {
  width: 66%;
  float: left;
}
.two-columns-66-33 .rigth-column {
  width: 33%; 
  float: right;
}

/* Mail form
-----------------------------------------------------------------------------*/

.tx-powermail input[type="text"],
.tx-powermail input[type="email"] {
  width: 235px;
  height: 30px;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}
.tx-powermail label {
  display: block;
  margin-bottom: 3px;
}
.powermail_fieldwrap_5 {
  
}
.powermail_fieldwrap_textarea {
  float: right;
  margin-top: -255px;
}
.tx-powermail textarea {
  width: 366px;
  height: 158px;
  border: 1px solid #7dc8f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;   
}

.powermail_fieldwrap_captcha {
  width: 366px;
  float: right;
  margin-top: -70px;
}
input.powermail_captcha {
  position: relative;
  top: -19px;
  margin-right: 10px;
  width: 125px !important;
  height: 30px;
}
.tx-powermail h3,
.tx-powermail legend {
  display: none;
}

.powermail_fieldwrap_submit {
  position: relative;
  left: 530px;
  top: -45px;
}
.tx-powermail input[type="submit"] {
  background: #103780;
  padding: 5px 10px;
  border: none;
  color: #fff;
  font-family: 'Ubuntu-Medium';
  font-size: 17px; 
  cursor: pointer;
}

/*
.tx-powermail .powermail_fieldset .parsley-errors-list > li {
    color: #A94442;
    padding: 5px 10px;
    display: none;
}
*/

.tx-powermail .powermail_fieldset .parsley-errors-list > li {
  color: #fff;
  padding: 5px 10px;
  margin-top: -10px;
  margin-left: 50px;
  position: absolute;
  z-index: 99999;
  background: #ff0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}


/* Person page
-----------------------------------------------------------------------------*/

.person .csc-textpic-imagewrap { 
  width: 307px;
  height: 469px;
  background: url('../Images/bg-personal.png') no-repeat scroll center center transparent;  
}
.person .csc-textpic-imagewrap img {
  padding: 8px 0 0 8px; 
}
.person p b {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  font-family: Calibri;
  color: #10357C;
  text-align: center;
  padding-bottom: 20px;
  color: #10357C;
}

.special-elements {
  display: none !important;
}
