{namespace n=Tx_News_ViewHelpers}<!--
  =====================
    Partials/List/Item.html
-->

          <div class="last-news-item last-news-item-last">
            <div class="last-news-date"><span><f:format.date format="%d %B %Y">{newsItem.datetime}</f:format.date></span></div>
            <div class="last-news-img">

  <f:if condition="{newsItem.falMedia}">
    <!-- fal media preview element -->
    <f:then>
      <div class="news-img-wrap">
        <f:if condition="{newsItem.falMediaPreviews}">
          <f:then>
            <n:link newsItem="{newsItem}" settings="{settings}">
              <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                <f:if condition="{mediaElement.originalResource.type} == 2">
                  <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="{settings.last.media.image.width}" height="{settings.last.media.image.height}" />
                </f:if>
                <f:if condition="{mediaElement.originalResource.type} == 4">
                  <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
                </f:if>
              </f:alias>
            </n:link>
          </f:then>
          <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
              <span class="no-media-element">
                <n:link newsItem="{newsItem}" settings="{settings}">
                  <f:image src="{settings.list.media.dummyImage}" title="" alt="" width="{settings.last.media.image.width}" height="{settings.last.media.image.height}" />
                </n:link>
              </span>
            </f:if>
          </f:else>
        </f:if>

      </div>
    </f:then>
    <f:else>

      <f:if condition="{newsItem.media}">
        <!-- media preview element -->
        <f:then>
          <div class="news-img-wrap">
            <f:if condition="{newsItem.mediaPreviews}">
              <f:then>
                <n:link newsItem="{newsItem}" settings="{settings}">
                  <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                    <f:if condition="{mediaElement.type} == 0">
                      <f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" width="{settings.last.media.image.width}" height="{settings.last.media.image.height}" />
                    </f:if>
                    <f:if condition="{mediaElement.type} == 1">
                      <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                    </f:if>
                    <f:if condition="{mediaElement.type} == 2">
                      <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
                    </f:if>
                  </f:alias>
                </n:link>
              </f:then>
              <f:else>
                <f:if condition="{settings.displayDummyIfNoMedia}">
              <span class="no-media-element">
                <n:link newsItem="{newsItem}" settings="{settings}">
                  <f:image src="{settings.list.media.dummyImage}" title="" alt="" width="{settings.last.media.image.width}" height="{settings.last.media.image.height}" />
                </n:link>
              </span>
                </f:if>
              </f:else>
            </f:if>

          </div>
        </f:then>
        <f:else>
          <f:if condition="{settings.displayDummyIfNoMedia}">
            <f:then>
              <div class="news-img-wrap">
                <n:link newsItem="{newsItem}" settings="{settings}">
              <span class="no-media-element">
                <f:image src="{settings.list.media.dummyImage}" title="" alt="" width="{settings.last.media.image.width}" height="{settings.last.media.image.height}" />
              </span>
                </n:link>
              </div>
            </f:then>
          </f:if>
        </f:else>
      </f:if>

    </f:else>
  </f:if>
</div>

<div class="list-news-date">
  <span>
    <f:format.date format="%d %B %Y">{newsItem.datetime}</f:format.date>
  </span>
</div>

            <div class="last-news-title">
              <n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
            </div>        
        </div>  
